<footer>
	<div class="container">
		<div class="footer-social">
			<h2>Follow</h2>
			<a href="https://www.youtube.com/channel/UCdEgH2C1adtc8Pxc_UPxBeQ" target="_blank">
				<i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
			</a>

			<a href="mailto:phoenixkennedy00@gmail.com">
				<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
			</a>
			<a href="https://www.facebook.com/phoenixkennedy00" target="_blank">
				<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
			</a>
			<a href="https://www.patreon.com/user?u=6600568" target="_blank"> 
				<i class="fa fa-product-hunt fa-3x" aria-hidden="true"></i>
			</a>
		</div>
		<div class="note">bernadetterobertsisnotmyguru.com 
			<i class="fa fa-hand-peace-o" aria-hidden="true"></i> &nbsp;
		</div>
	</div>	
</footer>

