<footer>
	<div class="container">
		<div class="footer-social">
			<h2>Follow</h2>
			<a href="https://www.youtube.com/playlist?list=PLni-GlNUOJfZQx47wittRX-i63CvNV2E8" target="_blank">
				<i class="fab fa-youtube fa-3x"></i>
			</a>
			
			<a href="mailto:phoenixkennedy00@gmail.com">
				<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
			</a>
			<a href="https://www.facebook.com/groups/188708405238277/" target="_blank">
				<i class="fab fa-facebook-square fa-3x"></i>
			</a>
			<a href="https://www.amazon.com/s?i=digital-text&rh=p_27%3APhoenix+Kennedy&s=relevancerank&text=Phoenix+Kennedy&ref=dp_byline_sr_ebooks_1" target="_blank"> 
				<i class="fab fa-amazon fa-3x"></i>
			</a>
		</div>
		<div class="note">bernadetterobertsisnotmyguru.com 
			<i class="fab fa-phoenix-framework"></i> &nbsp;
		</div>
	</div>	
</footer>

