<footer>
	<div class="container">
		<div class="footer-social">
			<h2>Follow</h2>
			<a href="https://www.youtube.com/channel/UCdEgH2C1adtc8Pxc_UPxBeQ" target="_blank">
				<i class="fab fa-youtube fa-3x"></i>
			</a>
			
			<a href="mailto:phoenixkennedy00@gmail.com">
				<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
			</a>
			<a href="https://www.facebook.com/groups/188708405238277/" target="_blank">
				<i class="fab fa-facebook-square fa-3x"></i>
			</a>
			<a href="https://www.amazon.com/Bernadette-Roberts-Gods-Big-Experiment-ebook/dp/B07BVJHDCL/ref=sr_1_10?ie=UTF8&qid=1522815408&sr=8-10&keywords=bernadette+roberts" target="_blank"> 
				<i class="fab fa-amazon fa-3x"></i>
			</a>
		</div>
		<div class="note">bernadetterobertsisnotmyguru.com 
			<i class="fab fa-phoenix-framework"></i> &nbsp;
		</div>
	</div>	
</footer>

