<nav class="nav-bar">

<div class="nav-hold">
       <% link_to '/index.html', :relative => true, class: 'navbar-brand nav-logo' do %>
<%= image_tag 'PHOENIX_NEGRO.png' %>
      <strong class="logo-words">
        bernadetterobertsisnotmyguru
      </strong>
    <% end %>


    <a id="nav-menu" class="nav-menu">
    	<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </a>
    
    <ul class="nav-list" id="nav">
      <li>
        <%= link_to 'Home', '/index.html', :relative => true %>
        </li>
      <!-- <li>
        <%= link_to 'About', '/info.html', :relative => true %>
        </li> -->
    </ul>
  </div>
</nav>