---
title: bernadetterobertsisnotmyguru.com
---


<div class="slideshow-wraper">
  <%= partial "partials/quotes" %>
</div> 
<!-- End of SlideShow-->

<div class="welocome-panel">
  <div class="container module">
    <h1>Welcome friend!</h1>
    <p>
      Here you will find links to Bernadette’s website where you can buy her books.
    </p>
    <p>
      I started this page because my friends had tremendous difficulty understanding her latest book, The Real Christ.  This page is not endorsed by Bernadette or her friends. 
    </p> 
    <p>
      The audio samples below were taken from one of her last small group discussions on The Real Christ. 
    </p>
    <p>
      They are not copyrighted yet  i don’t have her permission to use them.  I tried to edit out everyone else’s voices because i don’t have their permission either. I believe her work is so important for humanity that i need to get her ideas in her own words out there.
    </p>
    <br>
    <p>
      Listen to them a few times.   She is probably not saying what you think she is saying.  She is a very original thinker.  Feel free to dance!
    </p>
    <strong><%= link_to 'Read More...', '/info.html', :relative => true %></strong>
  </div>
</div>
<!-- End of wellcome panel-->
<div class="container module">
  <a href="http://bernadetteroberts.blogspot.com/p/self-published-works.html" target="blank?"><h1>Visit her Website</h1></a>
</div>

<div class="container module">
  <h2>Audio Play List</h2>

  <audio id="audio" preload="auto" tabindex="0" controls >
    <source src="../audio_samples/eucharist.mp3">
      Your Fallback goes here
    </audio>

    <ul id="playlist">
      <li class="active">
        <a href="../audio_samples/eucharist.mp3">
          Eucharist
        </a>
      </li>

      <li>
        <a href="../audio_samples/god_in_nature.mp3">
          God in Nature
        </a>
      </li>

      <li>
        <a href="https://www.archive.org/download/CanonInD_261/CanoninD.mp3">
          Canon in D Pachabel
        </a>
      </li>

    </ul>
  </div>