---
title: info | bernadetterobertsisnotmyguru.com
---
<div class="container module">
  <h1>Welcome friend!</h1>
  If you want to understand what she is saying, don’t just buy The Real Christ and start reading.  Lot’s of people make that mistake and don’t make it more than fifty pages through the amazing book.  This is what you should do:
  <ul>
    <li>
    1. Buy and read her autobiography called Contemplative.
    </li>
    <li>
      Read at least two of her other books.
    </li>
    <li>
      Buy and listen to “The essence of Christian mysticism”.
    </li>
    <li>
      Buy The Real Christ and skip straight to Chapter 17 entitled summary so far.
    </li>
    <li>
      Read the rest of the book.  It will blow your mind and open your heart.
    </li>
    <li>

      If you are a theologian or philosopher you may tackle the first half of the book.  If you are not, i don’t recommend it.
    </li>
  </ul>
</div>