---
title: info | bernadetterobertsisnotmyguru.com
---
<div class="container module">
  <p>
    For people who are interested in this new way of looking at Christianity, I don’t recommend you buy her final masterpiece The Real Christ and start reading. Read her Autobiography first, then at least one of her other books so you know where she is coming from. Her DVD’s are masterful works of staggering spiritual integrity.
  </p>
</div>
<div class="container module">
  <a href="http://bernadetteroberts.blogspot.com/p/booksmanuscripts_22.html" target="blank?"><h1>Visit her Website</h1></a>
</div>